body {
    background-color: #f0f0f0; /* Color de fondo claro */
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    width: 100%; /* Permitir que ocupe todo el ancho */
    max-width: 600px; /* Ancho máximo para el contenedor */
}

h1 {
    color: #003366; /* Azul oscuro */
}

.form-container {
    background-color: #ffffff; /* Fondo blanco para el formulario */
    border: 2px solid #003366; /* Borde azul oscuro */
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box; /* Incluir bordes y padding en el tamaño total */
    margin-bottom: 5rem;
}

label {
    display: block;
    margin: 10px 0 5px;
}

select, input[type="number"], input[type="text"], button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #cccccc; /* Color gris claro */
    border-radius: 5px;
    box-sizing: border-box; /* Incluir bordes y padding en el tamaño total */
}

table {
    width: 100%;
    margin-top: 10px;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #cccccc;
    padding: 8px;
    text-align: center;
}

button {
    background-color: #003366; /* Azul oscuro */
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #005599; /* Color azul más claro al pasar el mouse */
}



.top-tittle-logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.logo {
    display: block;
    margin-top: 10rem;
    
    
    width: 15rem; /* Ajuste de tamaño adecuado */
    
    max-width: 100%; /* Asegura que no se expanda más allá del contenedor */
}